a, p, th, td, li, ul, h1, h2, h3, h4, h5, h6, span {
  font-family: 'Lato', sans-serif;
}

body {
	padding: 0;
	margin: 0;
}

.nav{
	top:0px;
	left: 0px;
	position: static;
	background-color: #EBF0F8;
	padding: 0px;
	margin-bottom: 1px;
	z-index: 1000;
	border-bottom: 1px solid #BEC9D9;
	box-shadow: 0px 2px 5px #888888;
}

.move-options{
  right: 0px;
  position: absolute;
  width: 9%;
  background-color: #BEC9D9;
  box-shadow: 0px 2px 5px #888888;
  cursor: pointer;
}

.move-options p{
  text-align: center;
  padding: 10px 0 10px 0px;
  border-bottom: solid 1px white;
  -webkit-margin-before: 0em;
  -webkit-margin-after: 0em;
}

.move-options p:hover{
    background-color: #EBF0F8;
}

span:hover {
	cursor: pointer;
}

.delete {
  width:30px;
  height: 30px;
  display: inline-block;
    background: url('assets/delete.png') no-repeat;
    background-size: 100% 100%;
    float: right;
    margin-right: 2%;
    margin-top: -25px;
}

.move {
  width:30px;
  height: 30px;
  display: inline-block;
    background: url('assets/files-icon.png') no-repeat;
    background-size: 100% 100%;
    float: right;
    margin-right: 2%;
    margin-top: -25px;
}

.folder-icon {
 	width:20px;
	height: 20px;
	display: inline-block;
    background: url('assets/opacity-folder.png') no-repeat;
    background-size: 100% 100%;
}

.edit {
 	width:30px;
	height: 30px;
	display: inline-block;
    background: url('assets/edit.png') no-repeat;
    background-size: 100% 100%;
    float: right;
    margin-right: 2%;
    margin-top: -25px;
}

.add {
 	width:30px;
	height: 30px;
	display: inline-block;
    background: url('assets/plus.png') no-repeat;
    background-size: 100% 100%;
    float: right;
    margin-right: 2%;
    margin-top: -25px;
}


.selected {
	background-color: #BEC9D9;
}
.nav ul {
    list-style-type: none;
    margin-left: 5%;
    display: inline;
}
.nav ul li {
    display: inline;
    width: 60px;
    padding: 3% 2% 0% 2%;
    margin-bottom: 5%; 
}
.nav ul li:hover {
    cursor: pointer;
}

table {
  border-right: 1px solid #BEC9D9;
  border-left: 1px solid #BEC9D9;
  border-bottom: 1px solid #BEC9D9;
  min-width: 70%;
  margin-top: 4px;
  border-spacing: 0px;
  margin: auto;
}

th{
	border-bottom: 1px solid #EBF0F8;
	border-bottom: 1px solid #EBF0F8;
	padding-top: 10px;
	padding-bottom: 10px;
	text-align: left;
} 


th:hover {
	cursor: pointer;
	background-color: #BEC9D9;
}

thead{
	background-color: #EBF0F8;
	margin-bottom: 10px;
	margin-top: 10px;
}

td{
  border-top: 1px solid #EBF0F8;
  padding-top: 10px;
  padding-bottom: 10px;
  height: 50%;
}
td:hover {
	cursor: pointer;
}
